# Ignora archivos del sistema Mac
.DS_store

# Ignora archivos del IntelliJ
.idea
Practica 3/cygwin1.dll
Practica 3/metricff.exe
Practica 3/FFv2.3-exe/FFv2.3-exe/cygwin1.dll
Practica 3/FFv2.3-exe/FFv2.3-exe/ff.exe
